* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f4f4f4;
  }
  
section {
    padding: 80px 0;
    text-align: center;
}
  
h2 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #333;
}
  
p {
    font-size: 1.5em;
    color: #666;
    margin: 0;
}

    /* ------------------- copyright ------------------------ */
#copyright {
    width: 100%;
    text-align: center;
    padding: 10px 0; /* Ali prilagodite po potrebi */
    background: #f4f4f4;
    font-weight: 500;
}