.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}
  
.profile-image {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin-right: 50px;
}
  
.about-text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.about-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}
  
.about-buttons .btn {
    padding: 15px 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.about-buttons .btn:hover {
    background-color: #555;
}
  
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}
  
.social-icons a {
    font-size: 2em;
    color: #333;
    transition: color 0.3s;
}
  
.social-icons a:hover {
    color: #0077b5; 
}
  
  /* Stil za kontaktne informacije modal */
.contact-info-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 20px;
    width: 400px;
}
  
.contact-info-content {
    text-align: center;
    background-color: #fff;
}
  
.contact-info-content h3 {
    margin-bottom: 20px;
    font-size: 24px;
}
  
.contact-info-content p {
    margin: 10px 0;
}
  
.close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
  
.close-btn:hover {
    background-color: #444;
}
