@media (max-width: 1080px) {
  .experience-section {
    padding-top: 150px;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-logo {
    padding-top: 15px;
  }

  .nav-links {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    flex-direction: column;
    height: 190px;
    width: 40%;
    padding: 10px;
    background-color: grey;
    position: absolute;
    top: 80px;
    right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    align-items: flex-end;
  }

  .nav-links.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }

  .nav-links a {
    padding: 15px;
    border-bottom: 1px solid #222;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
  }

  .burger-menu div {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: background-color 0.3s, transform 0.3s;
  }

  .burger-menu.active div {
    background-color: #333;
  }

  .burger-menu.active div:nth-child(1) {
    transform: rotate(45deg) translate(0px, 10px);
  }

  .burger-menu.active div:nth-child(2) {
    opacity: 0;
    height: 5px;
  }

  .burger-menu.active div:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -20px);
  }

  .profile-image {
    width: 300px;
    height: 300px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-content p {
    text-align: center;
  }

  .about-content h2 {
    font-size: 40px;
  }

  .about-col-1 {
    display: none;
  }

  .about-col-2 {
    flex-basis: 100%;
    text-align: left;
  }

  .about-col-2 .tab-links {
    display: flex;
    margin: 0 10px 0 0;
  }

  .experience-section {
    padding-top: 150px;
  }

  .experience-container {
    flex-direction: column;
    align-items: center;
  }

  .experience-card {
    width: 80%;
    margin-bottom: 20px;
  }

  .experience-card ul {
    grid-template-columns: 1fr;
  }

  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    flex-direction: column; /* Postavimo elemente navpično */
    align-items: center;
    width: 80%; /* Zavzame celotno širino */
  }

  .project-image {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    height: auto; /* Prilagodimo višino */
  }

  .project-info {
    padding-right: 0;
    width: 90%; /* Na mobilnih napravah prilagodimo širino */
    text-align: center; /* Centriramo besedilo */
  }

  .project-buttons {
    text-align: center;
  }

  .scroll-button {
    width: 50px;
    height: 50px;
    font-size: 40px;
  }

  .nav-arrow {
    margin: 10px 0; /* Daj razmik nad in pod gumbom */
  }

  .project-indicators {
    margin-top: 10px;
  }
}
