#header{
    width: 100%;
    height: 100vh;
}
/* Slog za navigacijo */
nav {
    position: absolute; /* Postavi navigacijo nad pozadinsko sliko */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; /* Dodaj nekaj prostora okoli vsebine */
    background: transparent; /* Nastavi ozadje na transparentno */
    z-index: 10; /* Poskrbi, da bo navigacija vedno na vrhu */
}

/* Slog za navigacijski meni */
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #00bfae;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after {
    width: 100%;
}
.header-text {
    position: absolute; 
    top: 50%; 
    transform: translateX(0); 
    text-align: left; 
    color: #fff;
    width: 80%; 
}
.header-text h1 {
    font-size: 60px;
    margin: 0;
}
.header-text h1 span {
    color: #00bfae;
}
.download-button {
    display: inline-block;
    padding: 10px 20px;
    margin-left: 20px;
    border: 1px solid #00bfae;
    border-radius: 6px;
    background-color: #00bfae;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}
.download-button:hover {
    background-color: #fff;
    color: #00bfae;
}

/* Header tekst animation */
@keyframes slide-up-down {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px); /* Premakni navzdol */
    }
    100% {
        transform: translateY(-20px); /* Vrni nazaj na začetni položaj */
    }
}

.header-text h1 {
    animation: slide-up-down 2s ease-in-out infinite;
}
